<div class="header-section">
  <h2>Fabricantes</h2>
  <div class="action-buttons">
    <button type="button" class="btn secondary" (click)="goToRegister()">Crear fabricante</button>
  </div>
</div>

<div class="inventory-table">
  <table>
    <thead>
      <tr>
        <th>Nombre completo</th>
        <th>Rol</th>
        <th>Email</th>
        <th>ID de Usuario</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fabricante of fabricantes">
        <td>{{ fabricante?.nombreCompleto }}</td>
        <td>{{ fabricante?.rol }}</td>
        <td>{{ fabricante?.email }}</td>
        <td>{{ fabricante?.usuarioId }}</td>

      </tr>
    </tbody>
  </table>
</div>
