<div class="header-section">
  <h2>Vendedores</h2>
  <div class="action-buttons">
    <button type="button" class="btn secondary" (click)="goToRegister()">Crear vendedor</button>
  </div>
</div>

<div class="inventory-table">
  <table>
    <thead>
      <tr>
        <th>Nombre completo</th>
        <th>Rol</th>
        <th>Email</th>
        <th>ID de Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vendedor of vendedores">
        <td>{{ vendedor?.nombreCompleto }}</td>
        <td>{{ vendedor?.rol }}</td>
        <td>{{ vendedor?.email }}</td>
        <td>{{ vendedor?.usuarioId }}</td>
        <td>
          <button title="Ver detalle">
            👁️
          </button>
          <button title="Editar">
            ✏️
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
