<div class="logo-container">
  <img src="assets/logo.svg" alt="Logo" class="logo" />
</div>


<nav>
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-speedometer2"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/productos" routerLinkActive="active">
        <i class="bi bi-box-seam"></i> Inventarios
      </a>
    </li>
    <li>
      <a routerLink="/fabricantes" routerLinkActive="active">
        <i class="bi bi-building"></i> Fabricantes
      </a>
    </li>
    <li>
      <a routerLink="/camiones" routerLinkActive="active">
        <i class="bi bi-geo-alt"></i> Rutas/Camiones
      </a>
    </li>
    <li>
      <a routerLink="/parametros" routerLinkActive="active">
        <i class="bi bi-sliders"></i> Parámetros
      </a>
    </li>
    <li>
      <a routerLink="/ventas" routerLinkActive="active">
        <i class="bi bi-cart4"></i> Ventas
      </a>
    </li>
    <li>
      <a routerLink="/logout" routerLinkActive="active">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
      </a>
    </li>
  </ul>
</nav>
