<div class="logo-container">
  <img src="assets/img/quickduck-logo.png" alt="QuickDuck" />
  <span class="brand-text">QuickDuck</span>
</div>

<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/inventarios" routerLinkActive="active">Inventarios</a></li>
    <li><a routerLink="/fabricantes" routerLinkActive="active">Fabricantes</a></li>
    <li><a routerLink="/rutas" routerLinkActive="active">Rutas</a></li>
    <li><a routerLink="/parametros" routerLinkActive="active">Parámetros</a></li>
    <li><a routerLink="/ventas" routerLinkActive="active">Ventas</a></li>
    <li><a routerLink="/logout" routerLinkActive="active">Cerrar sesión</a></li>
  </ul>
</nav>
