<div class="header-section">
  <h2>Plan de ventas</h2>
  <div class="action-buttons">
    <button type="button" class="btn secondary" (click)="goToRegister()">+ Adjuntar un plan de ventas</button>
  </div>
</div>

<div class="inventory-table">
  <table>
    <thead>
      <tr>
        <th>Estado</th>
        <th>Fecha de creación</th>
        <th>ID Cliente</th>
        <th>ID Vendedor</th>
        <th>ID Pedido</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta?.estado }}</td>
        <td>{{ venta?.fechaCreacion }}</td>
        <td>{{ venta?.idCliente }}</td>
        <td>{{ venta?.idVendedor }}</td>
        <td>{{ venta?.pedidoId }}</td>
        <td>{{ venta?.total}}</td>
        <td>
          <button title="Editar" (click)="router.navigate(['/ventas/editar', venta.pedidoId])">✏️</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
