<div class="header-section">
  <h2>Rutas/Camiones</h2>
  <div class="action-buttons">
    <button routerLink="/camiones/nuevo">+ Nuevo camion</button>
    <button routerLink="/productos/masivo">+ Nueva ruta</button>
  </div>
</div>

<div class="inventory-table">
  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Capacidad</th>
        <th>Tipo</th>
        <th>Ruta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productos">
        <td>{{ product.nombre }}</td>
        <td>{{ product.cantidad }}</td>
        <td>{{ product.fabricante }}</td>
        <td>{{ product.fabricante }}</td>
      </tr>
    </tbody>
  </table>
</div>
