<div class="header-section">
  <h2>Rutas / Camiones</h2>
  <div class="action-buttons">
    <button routerLink="/camiones/nuevo">+ Nuevo camión</button>
    <button routerLink="/camiones/rutanueva">+ Nueva ruta</button>
  </div>
</div>

<div class="inventory-table">
  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Capacidad</th>
        <th>Tipo</th>
        <th>Ruta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let truck of camiones">
        <td>{{ truck.placa }}</td>
        <td>{{ truck.capacidad | number:'1.0-0' }} kg</td>
        <td>{{ truck.tipo }}</td>
        <td>{{ truck.rutas }}</td>
      </tr>
    </tbody>
  </table>
</div>
