<div class="header-section">
  <h2>Rutas / Camiones</h2>
  <div class="action-buttons">
    <button routerLink="/camiones/nuevo">+ Nuevo camión</button>
    <button routerLink="/rutas/nueva">+ Nueva ruta</button>
  </div>
</div>

<div class="inventory-table">
  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Capacidad</th>
        <th>Tipo</th>
        <th>Ruta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let truck of camiones">
        <td>{{ truck.placa }}</td>
        <td>{{ truck.capacidad | number:'1.0-0' }} kg</td>
        <td>{{ truck.tipo }}</td>
        <td>{{ truck.rutas }}</td>
        <td>
          <button [routerLink]="['/camiones', truck?.camion_id]" title="Ver detalle">
            👁️
          </button>
          <button [routerLink]="['/camiones/editar', truck?.camion_id]" title="Editar">
            ✏️
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
