<div class="create-delivery-card">
  <button class="close-button" type="button" (click)="volver()" aria-label="Cerrar">×</button>


  <h2>Crear ruta</h2>

  <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
    <label>Camion</label>
    <input formControlName="Camion" type="text" placeholder="Camión" />

    <label>Origen</label>
    <input formControlName="Origen" type="text" placeholder="Origen" />

    <label>Destino</label>
    <input formControlName="Destino" type="text" placeholder="Destino" />

    <label>Fecha programada</label>
    <input formControlName="FechaProgramada" type="date" placeholder="Destino" />


    <button type="submit">Validar</button>
  </form>

</div>
