<div class="header-section">
  <h2>Parametros</h2>
  <div class="action-buttons">
    <button routerLink="ventas/nuevo">+ Adjuntar un usuario</button>
  </div>
</div>

<div class="parameters-table">
  <table>
    <thead>
      <tr>
        <th>Nombre del usuario</th>
        <th>E-mail</th>
        <th>Estado</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productos">
        <td>{{ product?.nombre }}</td>
        <td>{{ product?.cantidad }}</td>
        <td>{{ product?.precio_unitario }}</td>

      </tr>
    </tbody>
  </table>
</div>
